/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.grid-item {
  width: 315px;
  margin-bottom: 5px;
}

.arrow {
  background: gray;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  display: flex;
  border: none;
}
